@import "ui-variables";
@import "syntax-variables";
atom-text-editor::shadow {
  .smalls-label {
    z-index: 2147483647;
    color: @text-color-selected;
    background-color: @background-color-info;
    border-radius: @component-border-radius;
    position: absolute;
    padding: 0.15em;
    margin-left: -2px;
    margin-top: -2px;
  }
  .smalls-candidate .region {
    background-color: transparent;
    border-radius: @component-border-radius;
    border: 1px solid @syntax-result-marker-color;
    box-sizing: border-box;
  }
  .smalls-flash .region {
    background-color: @background-color-info;
  }
}
