@import "ui-variables";
@import "syntax-variables";


@color-error-lighten: lighten(@background-color-error, 30%);

@smalls-label-color: hsl( hue( @text-color-warning ), 100% - saturation( @base-background-color ), 60% - lightness( @app-background-color ) * 0.2 );
atom-text-editor, atom-text-editor::shadow {
  .smalls-label {
    z-index   : 1;
    color     : @smalls-label-color;
    margin-top: -1.5rem;
    background-color: @base-background-color;
    position: absolute;
    vertical-align: bottom;

    &.not-final {
      color: contrast(@color-error-lighten);
      background-color: @color-error-lighten;
    }
    .decided {
      color: fadeout(@smalls-label-color, 70%);
    }
  }
  .smalls-candidate .region {
    border: 1px solid fadeout(@syntax-result-marker-color, 70%);
    background-color: @syntax-selection-color;
  }
  .smalls-flash .region {
    background-color: @background-color-info;
  }
}

.smalls-input {
  .editor-container {
    padding: @component-padding/2 @component-padding;
    width: 100%;
  }
}
atom-text-editor[mini].smalls.search {
  color: @text-color;
  cursor: default;
}
